<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.NewsMapper">
    <resultMap id="BaseResultMap" type="com.entity.News">
        <id column="nid" property="nid" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        nid, time, content, author
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from news
        where nid = #{nid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from news
        where nid = #{nid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.entity.News">
        insert into news (nid, time, content,
        author)
        values (#{nid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR},
        #{author,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.entity.News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nid != null">
                nid,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="author != null">
                author,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nid != null">
                #{nid,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.entity.News">
        update news
        <set>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
        </set>
        where nid = #{nid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.entity.News">
        update news
        set time = #{time,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=VARCHAR},
        author = #{author,jdbcType=VARCHAR}
        where nid = #{nid,jdbcType=INTEGER}
    </update>

    <select id="selectAllNews" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news
    </select>

</mapper>